@import "./variables.css";

body
{
    background: url("../assets/images/csProjectImages/Circuit_Unsplash.jpg") lightgray 50% / cover no-repeat;
    background-blend-mode: multiply, normal;
}

.project1
{
    .projectPic
    {
        padding-top:    10em;
    }

    img
    {
        max-width:      600px;
        border-radius:  var(--radius-m);
    }
}

.project2
{
    .projectPic
    {
        padding-bottom:        12em;
    }

    img
    {
        max-width:      600px;
        border-radius:  var(--radius-m);
    }
}

.project3
{
    .projectPic
    {
        padding-top:        8em;
        padding-inline:     10%;
    }

    img
    {
        max-width:          300px;
        border-radius:      var(--radius-m);
    }
}

.project4
{
    .projectPic
    {
        padding-top:        8em;
    }

    img
    {
        max-width:      500px;
        border-radius:  var(--radius-m);
        transform:      rotate(180deg);
    }
}