@import "./variables.css";

header
{
    width:              100%;
    position:           fixed;

    background-color:   var(--black-75);
}

.bg1
{
    background: radial-gradient(109.69% 109.69% at -9.69% 50.13%, #540A0A 0%, rgba(13, 13, 13, 0.00) 100%);

    h2
    {
        color:  var(--color-2);
    }
}

.bg2
{
    background: radial-gradient(106.69% 106.69% at 106.69% 50.25%, #004360 0%, rgba(13, 13, 13, 0.00) 100%);

    h2
    {
        color:  var(--color-1);
    }
}

.labelSection
{
    display:        flex;
    flex-direction: column;
    align-items:    flex-start;
    align-self:     stretch;
}

h1
{
    /* layout */
    display:            flex;
    padding:            var(--space-m) 0;
    justify-content:    center;
    align-items:        center;
    align-self:         stretch;

    /* typography */
    text-align:         center;
    font-size:          var(--text-2xl);
    font-family:        BespokeStencil-Bold;
}

.project
{
    display:            flex;
    flex-direction:     row;
    padding-inline:     5%;
    justify-content:    center;
    align-items:        top;
    gap:                50px;
    height:             20em;

    .projectPic
    {
        display:            flex;
        justify-content:    center;
        align-items:        center;
        align-self:         stretch;
        overflow-y:         hidden;
    }

    img
    {
        width:  100%;
    }

    .description
    {
        /* layout */
        display:        flex;
        flex-direction: column;
        align-items:    flex-start;
        max-width:      50%;
        padding:        var(--space-m) 0;
        gap:            var(--space-s);

        /* typography */
        text-wrap-mode:     wrap;
        text-wrap-style:    balance;

        h2
        {
            align-self: stretch;
            margin:     0;
            padding:    0;

            /* typography */
            font-size:      var(--text-xl);
            font-style:     normal;
            font-family:    BespokeSerif-Bold;
        }

        p
        {
            align-self: stretch;
            margin:     0;
            padding:    0;
            
            filter:     opacity(80%);
            font-size:  var(--text-m);
        }
    }

    .buttons
    {
        display:        flex;
        flex-direction: row;
        gap:            var(--space-m);
    }

    .globalgamejam svg
    {
        width:  var(--text-xl);
        height: var(--text-xl);
    }

    a
    {
        color:  var(--grey-9);
    }
}

@media screen and (max-width: 1160px)
{
    .project
    {
        height:         22em;
    }

    p
    {
        font-size:      var(--text-s);
    }
}

@media screen and (max-width: 1045px)
{
    .project
    {
        height:  auto;
    }
    
    .project1 .projectPic
    {
        padding: 0;
    }

    .project2 .projectPic
    {
        padding: 0;
    }

    .project3 .projectPic
    {
        padding: 0;

        img
        {
            max-height: 15em;
        }
    }

    .project4 .projectPic
    {
        padding: 0;
    }
}

footer
{
    display:            flex;
    justify-content:    flex-end;
    align-items:        center;
    align-self:         stretch;
    padding:            var(--space-xs) var(--space-s);

    color:              var(--grey-5);

    a
    {
        text-decoration:    none;
        color:              currentColor;
    }

    a:hover
    {
        text-decoration:    underline;
        color:              var(--color-2);
    }
}