:root
{
    /* Grey */
    --black:        hsl(0, 0, 0);
    --grey-1:       hsl(0, 0, 5);
    --grey-2:       hsl(0, 0, 15);
    --grey-3:       hsl(0, 0, 25);
    --grey-4:       hsl(0, 0, 35);
    --grey-5:       hsl(0, 0, 50);
    --grey-6:       hsl(0, 0, 65);
    --grey-7:       hsl(0, 0, 75);
    --grey-8:       hsl(0, 0, 85);
    --grey-9:       hsl(0, 0, 95);
    --white:        hsl(0, 0, 100);

    /* Colors */
    --color-1:      hsl(0, 63, 54);


    /* Text Sizes */
    --text-2xs:     10;
    --text-xs:      12;
    --text-s:       14;
    --text-m:       16;
    --text-l:       20;
    --text-xl:      24;
    --text-2xl:     34;
    --text-3xl:     48;
    --text-4xl:     60;
    --text-5xl:     96;
    --text-6xl:     128;

    /* Font */
    font-family:    fantasy;

    /* Space */
    --space-2xs:    5;
    --space-xs:     10;
    --space-s:      15;
    --space-m:      25;
    --space-l:      35;
    --space-xl:     50;
    --space-2xl:    100;

    /* Theme */
    color-scheme:   dark;
}

body
{
    margin: 0;
}

/* Nav Bar */
nav
{
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    space-between;
    padding:            10px 25px;
}

nav ul
{
    list-style-type:    none;
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    margin:             0;
    padding:            0;
    gap:                10px;
}

.navBtn
{
    display:        flex;
    flex-direction: row;
    align-items:    center;
    padding:        0;
}

.navBtn a
{
    /* typography */
    text-decoration: none;
}