/* fonts */
@import "./fonts/aktura.css";
@import "./fonts/pencerio.css";
@import "./fonts/array.css";
@import "./fonts/bespoke-serif.css";
@import "./fonts/bespoke-stencil.css";
@import "./fonts/britney.css";
@import "./fonts/zina.css";
@import "./fonts/hoover.css";
@import "./fonts/jet-brains-mono.css";


:root
{
    /* Grey */
    --black:        hsl(0, 0%, 5%);
    --black-75:     hsla(0, 0%, 5%, 0.75);
    --grey-1:       hsl(0, 0%, 7%);
    --grey-2:       hsl(0, 0%, 11%);
    --grey-3:       hsl(0, 0%, 17%);
    --grey-4:       hsl(0, 0%, 35%);
    --grey-5:       hsl(0, 0%, 50%);
    --grey-6:       hsl(0, 0%, 65%);
    --grey-7:       hsl(0, 0%, 75%);
    --grey-8:       hsl(0, 0%, 85%);
    --grey-9:       hsl(0, 0%, 95%);
    --white:        hsl(0, 0%, 100%);

    /* Colors */
    --color-1:      hsl(198, 100%, 82%);
    --color-2:      hsl(0, 96%, 62%);
    --color-2-2:    hsl(0, 52%, 23%);

    /* purple #9E9EFF #4d4d69 */

    /* Text Sizes */
    --text-2xs:     10px;
    --text-xs:      12px;
    --text-s:       14px;
    --text-m:       16px;
    --text-l:       20px;
    --text-xl:      24px;
    --text-2xl:     34px;
    --text-3xl:     48px;
    --text-4xl:     60px;
    --text-5xl:     96px;
    --text-6xl:     128px;

    @media screen and (max-width: 600px)
    {
        --text-2xs:     6px;
        --text-xs:      8px;
        --text-s:       10px;
        --text-m:       14px;
        --text-l:       16px;
        --text-xl:      20px;
        --text-2xl:     24px;
        --text-3xl:     32px;
        --text-4xl:     36px;
        --text-5xl:     48px;
        --text-6xl:     60px;
    }

    /* Space */
    --space-2xs:    5px;
    --space-xs:     10px;
    --space-s:      15px;
    --space-m:      25px;
    --space-l:      35px;
    --space-xl:     50px;
    --space-2xl:    100px;

    /* Corner Radius */
    --radius-xs:    2px;
    --radius-s:     5px;
    --radius-m:     10px;
    --radius-l:     25px;
    --radius-xl:    50px;
    --radius-full:  100%;

    /* Theme */
    color-scheme:   dark;
}